body {
    font-family: "Poppins", sans-serif;
    padding:20px;
  }

.container  {
    display:grid;
    grid-template-columns: 1fr 0.7fr;
    padding:20px;
  }
  img  {
      width: 560px;
      padding-left: 40px;
  }
  .content  {
      font-size:25px;
  }
  button  {
      color:white;
      background-color:rgb(80, 80, 80);
      font-size: 15px;
      padding:23px;
  }
  h2  {
      padding-left: 50px;
  }