body {
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    color:white;
}

.bgimg {
    position: absolute;
    z-index:-1;
}

.main_container {
    width: 90%;
    margin: 0px auto;
}

.container  {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.illustration {
    flex:3;
}

.content  {
    flex:2;
}


button {
    color: hsl(257, 40%, 49%);
    background-color:white;
    border:1px solid;
    width:200px;
    border-radius:30px;
    padding:15px;
    font-size:20px;
}
button:hover  {
   background-color:hsl(300, 69%, 71%);
   color:white;
   box-shadow:black;
}
.footer {
    text-align:right;
}
.circle  {
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    margin: 5px;
}